speech_recognition
pyttsx3
elevenlabs
keyboard
requests
beautifulsoup4
pandas
selenium
python-dotenv
undetected-chromedriver
fake-useragent
opencv-python
pytesseract
numpy
pillow
mss
python-opencv
easyocr
schedule==1.2.0
lxml==4.9.2
webdriver-manager==3.8.6
plotly==5.14.1
SpeechRecognition==3.10.0
pyaudio==0.2.13
cryptography
psutil==5.9.5
gputil==1.4.0
