playwright==1.36.0
requests==2.31.0
websockets==11.0.3
cryptography==41.0.1
requests-toolbelt==1.0.0
tenacity==8.2.2
numpy==1.24.3
ephem==4.1.4
python-jwt==4.0.0
statistics==1.0.3.5
pandas==2.1.4
python-dateutil==2.8.2
pytz==2023.3.post1
aiohttp==3.8.5
beautifulsoup4==4.12.2
python-dotenv==1.0.0
colorlog==6.7.0
pymongo==4.6.0
